/* Default Light Theme */
body {
    font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	color: #333;
	margin: 0;
	padding: 20px;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #7ee7ff, #65ff9d, #a54bff, #ff2f6f, #ff7eb9);
    background-size: 2000% 2000%; 
    animation: wave 15s linear infinite; 
}

@keyframes wave {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
	border-radius: 30px;
    transition: box-shadow 0.40s, linear-gradient 0.40s;
    border: none;
    background-color: lightblue;
}

button:hover{
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
    background: linear-gradient(45deg, #8a2be2, #00c6ff);
    cursor: pointer;
}


body.dark {
	background-color: #121212;
	color: #f5f5f5;
}
.all{
    display: flex;
    justify-content: center;
    gap: 50px;
}




