body{
    margin: 0;
    background-image: url(thumbnails/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.description-info{
    width: 360px;
}
.header{
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    background-color: rgb(26, 26, 26);
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.info-grid{
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}


.title{
    width: 300px;
    margin-left: 20px;
}
.Home{
    width: 45px;
    font-size: 15px;
    text-decoration: underline;
}
.About{
    font-size: 15px;
}
.Skills{
    font-size: 15px;
}
.Education{
    font-size: 15px;
}
.Work{
    font-size: 15px;
}
.Experience{
    font-size: 15px;
}
.Contact{
    font-size: 15px;
}



.flores{
    color: orange;
}
.greet{
    margin-bottom: 5px;
}
.name{
    margin-top: 5px;
    margin-bottom: 0;
}
.details{
    margin-top: 10px;
}
.btn-about{
    height: 27px;
    width: 95px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
    transition: box-shadow 0.40s, linear-gradient 0.40s;
}
.btn-about:hover{
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
    background: linear-gradient(45deg, #8a2be2, #00c6ff);
    cursor: pointer;
}



.icons-flex{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    font-size: 21px;
    border: 1px solid black;
    width: 338px;
    height: 28px;
    padding-top: 8px;
    padding-left: 17px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 15px rgb(0, 0, 0);
    transition: box-shadow 1s;
}
.icons-flex:hover{
    box-shadow: 2px 2px 15px whitesmoke;
    cursor: pointer;
}
.icons-grid{
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px;
}
.prof-pic{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    object-fit: cover;
    border: 1px solid black;
}


.combine-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 89vh;
}

